<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{asset('styles/app.css')}}>
    {% block titlePage %}{% endblock %}
</head>
<body>
        {% include "composants/navbar.html.twig" %}
    <main>
    {% block contentPage %}{% endblock %}
    </main>
</body>
</html>