{% block navbar %}
	<nav
		class="navbar flex justify-between items-center p-4 bg-red-500">

		<!-- Burger Icon for Mobile -->
		{# <div id="navbar-menu-button">
			<svg width="24" height="24" viewbox="0 0 24 24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
				<line x1="4" x2="20" y1="12" y2="12"/>
				<line x1="4" x2="20" y1="6" y2="6"/>
				<line x1="4" x2="20" y1="18" y2="18"/>
			</svg>
		</div> #}

		<!-- Logo -->
		<a href="/">
			<p class="text-blue-300 text-2xl ml-4">Log<span class="text-orange-400">o</span>
			</p>
		</a>

		<!-- Menu Items (Hidden on mobile by default) -->
		<ul id="navbar-menu" class="items-container hidden lg:flex" style="left: -100%;">

		<li class="text-white rounded-lg p-2 bg-slate-600 hover:bg-blue-300 hover:text-black transition duration-[0.7s] ease-in-out mr-4">
				<a href={{path("app_home")}}>Accueil</a>
		</li>
		
		{% if is_granted("IS_AUTHENTICATED_FULLY") %}
			<li class="text-white rounded-lg p-2 bg-slate-600 hover:bg-blue-300 hover:text-black transition duration-[0.7s] ease-in-out mr-4">
				<a href={{path("app_profile")}}>Profile</a>
			</li>
			<li class="text-white rounded-lg p-2 bg-slate-600 hover:bg-blue-300 hover:text-black transition duration-[0.7s] ease-in-out">
				<a href={{path("app_deconnexion")}}>Déconnexion</a>
			</li>

		{% else %}
		
			<li class="text-white rounded-lg p-2 bg-slate-600 hover:bg-blue-300 hover:text-black transition duration-[0.7s] ease-in-out mr-4">
				<a href={{path("app_auth")}}>Authentification</a>
			</li>

			{% endif %}
		</ul>
	</nav>
{% endblock %}
